# Lab 4

In [ ]:
class emp:
  def __init__(self, name, id,age,salary):
    self.name = name
    self.id = id
    self.age =age
    self.salary =salary
  def display(self):
    print(self.name, self.id,self.salary)
# setter
  def change_salary(self,new_salary):
    self.salary=new_salary
  def change_age(self,new_age):
    self.age=new_age
  def change_name(self,new_name):
    self.name=new_name
  def change_id(self,new_id):
    self.id=new_id
  # getter
  def get_age(self):
    return self.age
  def get_salary(self):
    return self.salary
  def get_name(self):
    return self.name
  def get_id(self):
    return self.id

  def private_method(self) -> None: #-- private_method
    print("This is a private method")

  def calc_salary_year(self) -> int:
    return self.salary * 12

In [ ]:
employee1=emp("ahmed",123,10,1000)
employee1.display()

ahmed 123 1000

In [ ]:
employee1.change_salary(8000)
employee1.display()

ahmed 123 8000

In [ ]:
employee1.change_age(25)
employee1.display()

ahmed 123 8000

In [ ]:
employee1.change_name("mohamed")
employee1.display()

mohamed 123 8000

In [ ]:
employee1.change_name("mohamed")
employee1.display()

mohamed 123 8000

In [ ]:
employee1.change_id(456)
employee1.display()

mohamed 456 8000

In [ ]:
emp_list=[]
emp_list.append(emp("ahmed",123,12,10000))
emp_list.append(emp("mohamed",456,55,3333333))
emp_list.append(emp("ali",789,555,145151))

In [ ]:
for emp in emp_list:
  emp.display()

ahmed 123 10000
mohamed 456 3333333
ali 789 145151

In [ ]:
total_salary=0
for emp in emp_list:
  total_salary+=emp.get_salary()
print(total_salary)

3488484

# Inhertance

In [ ]:
class Tech_empe(emp):
  def __init__(self, name, id, age, salary, tech_stack):
    super().__init__(name, id, age, salary)
    self.tech_stack = tech_stack
    def calc_salary_year(self) -> int:
      return self.salary * 12 * 2

In [ ]:

# Instantiate Tech_emp
tech_employee = Tech_empe("Jane Doe", 987, 30, 70000, "Python")
tech_employee.display()

Jane Doe 987 70000

In [ ]:
tech_employee.calc_salary_year()

840000